.charsWrapper {
  display: flex;
  flex-wrap: wrap;
}

.card {
  max-height: 500px;
}

.cardBox {
  margin: 10px;
  cursor: pointer;
}

.cardBox:not(.disabled):hover {
  border: 10px solid #fced15;
  margin: 0;
}

.cardBox.favoriteAction:not(.disabled):hover {
  border: 10px solid #fc15a3;
  margin: 0;
}

.cardBox.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
